.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  font-weight: 700;
}

.cartEmpty {
  margin: auto;
  text-align: center;
  padding: 10rem;
}

.cart-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cartContainer {
  text-align: center;
  overflow-y: scroll;
  max-height: 325px;
}

.heading-container {
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 0.75rem #bbb;
}

.shopNowBtn {
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  background-color: white;
  color: #213547;
  border: 3px solid #213547;
  font-weight: bolder;
}

.shopNowBtn:hover {
  background-color: #213547;
  color: white;
  border-color: #535bf2;
}

.price-card-wrapper {
  box-shadow: 0.25rem 0.25rem 0.5rem #bbb;
  margin: 1rem;
  box-sizing: border-box;
  max-height: 350px;
}

.price-container {
  padding: 0rem 1rem;
}

.qty-input {
  width: 25px;
  text-align: center;
  height: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  color: black;
}

.subtotal {
  margin: auto;
}

.button {
  display: flex;
  justify-content: right;
  margin: 1rem;
}

.clear-cart-btn {
  padding: 1rem 2rem;
  border: 1px solid red;
  background-color: red;
  /* color: #213547; */
  color: black;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  color: #213547;
  /* background-color: #213547;  */
}

::-webkit-scrollbar-track {
  background-color: grey;
}

::-webkit-scrollbar-thumb {
  background-color: #213547;
  border-radius: 1rem;
}

.heading-name-container {
  /* border: 1px solid black; */
  text-align: left;
  padding: 1rem 1rem 0rem 1rem;
}

.heading-name {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.item-count {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: medium;
  font-weight: 500;
}

.mobile-display {
  display: none;
}

.subtotal-card,
.shipping-fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free {
  color: #059669;
  color: #4d7c0f;
  color: green;
  color: #22c55e;
}

/* .subtotal-card {
  justify-content: space-between;
} */

.checkout-btn {
  width: 100%;
  padding: 10px 0px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: white;
  color: #213547;
  border: 2px solid #213547;
  font-family: "Urbanist";
  font-size: inherit;
  font-weight: 600;
}

.checkout-btn:hover {
  background-color: #213547;
  color: white;
}

.rupee {
  padding: 5px;
}

@media (max-width: 320px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .heading-container {
    border: 1px solid #213547;
    border: none;
    border-radius: 10px;
    overflow-y: hidden;
    margin: 2px;
    padding: auto 5px;
    box-shadow: none;
  }

  .mobile-hide {
    display: none;
  }

  .button {
    display: flex;
    justify-content: right;
    margin: 10px;
  }

  .clear-cart-btn {
    padding: 5px 5px;
    border: 1px solid red;
    background-color: red;
    /* color: #213547; */
    color: black;
    font-weight: 600;
    cursor: pointer;
  }

  .cartEmpty {
    max-width: 320px;
    padding: 10px;
    margin: 150px auto;
    text-align: center;
  }

  .shopNowBtn {
    padding: 10px;
    margin: 10px;
  }

  .empty-cart-title {
    font-size: xx-large;
  }

  .price-container {
    background-color: beige;
    padding-top: 1rem;
    border: 1px solid #213547;
    border-radius: 10px;
  }

  .priceCard h2 {
    margin-top: 0;
  }

  .price-card-wrapper {
    border: none;
  }
}

@media (min-width: 1024px) {
  /* .cartContainer {
    overflow-y: scroll;
  } */

  .heading-container {
    max-height: 425px;
  }

  /* .cartProducts {
    overflow-y: scroll;
  } */
}
