.productPageWrapper {
  max-height: 100vh;
  overflow-y: hidden;
}

.productsPage {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  /* border: 1px solid black; */
  font-weight: 700;
  height: 100%;
}

.products-mobile-heading {
  display: none;
}

.filters {
  /* border: 1px solid blue; */
  font-weight: 400;
  background-color: #213547;
  color: #fff;
  height: 91vh;
  overflow-y: hidden;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow-y: hidden;
}

.categoryTitle {
  text-align: left;
  padding: 0rem 1rem;
  margin-bottom: 0;
}

.categoryFilterList {
  list-style: none;
  text-align: left;
  padding: 1rem;
  margin: auto;
  /* border: 1px solid black; */
  /* line-height: 2.5; */
}

.categoryFilter {
  cursor: pointer;
  /* border: 1px solid black; */
  margin-bottom: 1rem;
  list-style: none;
  text-align: left;
}

.ratingFilterList {
  list-style: none;
  text-align: left;
  padding: 1rem;
  /* margin-top: 0px; */
}

.rating-filters {
  margin: 3rem 0px;
  margin-bottom: 0rem;
}

.ratings-form {
  display: flex;
  justify-content: left;
  /* align-items: center;   */
  flex-direction: column;
}

.rating {
  margin-left: 0;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  justify-items: center;
  overflow-y: scroll;
  height: 90vh;
}

.price-filter-container {
  padding: 0rem 0rem 0rem 1rem;
  text-align: left;
}

.price-filter {
  display: flex;
  align-items: center;
}

.price-filter-title {
  margin-bottom: 0px;
}

.price-input {
  margin-left: 0rem;
  padding-left: 0rem;
  width: 100px;
  padding: 10px;
  border: 2px solid #535bf2;
  font-size: 15px;
}

.price-fill-div {
  margin: 10px 0px;
}

.price-max {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

.cat-filter {
  color: inherit;
  text-decoration: none;
}

.footer {
  min-height: 100px;
}

.no-items-found {
  margin: auto;
  font-size: x-large;
}

@media (max-width: 768px) {
  .productsPage {
    grid-template-columns: 0.3fr 1fr;
  }

  .productsList {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    /* border: 1px solid green; */
    padding: 1rem;
    justify-items: center;
  }
}

@media (max-width: 320px) {
  .productPageWrapper {
    max-width: 320px;
  }

  .productsPage {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: 320px;
  }

  .productsList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 1px solid green; */
    /* padding: 1rem; */
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 10px;
  }

  .hide-category {
    display: none;
  }

  .products-mobile-heading {
    display: contents;
  }
}
